<form action="/absence" method="post">
    <h1>Prévenir de l'absence de :</h1>
      <ul>
        {{#each user.adherent}}
        <li>
          <a id={{this.prenom}} href="#{{this.prenom}}" >{{this.prenom}}/>
        </li> 
        {{/each}}
      </ul>


{{#each user.adherent}}
  <div class='{{this.prenom}} '></div>
    <input type="hidden" name="prenom"  value="{{prenom}}">
    <input type="hidden" name="nom" value="{{nom}}">

    <form  action="/send-email" method="post">
      <label for="">Date de l'absence:</label>
      <input type="date" name="date"  value="new Date()">
      
      <label for="">Motif</label>
      <textarea type="text" name="message" ></textarea>

      <button type="submit">Envoyer {{!-- à {{this.adherent.cours.prof}} --}}</button>   
    </form>
  </div>
{{/each}}
</form>
  
  <a href="/mon-accueil">ACCUEIL</a>
  <a href="/logout">QUITTER MON ESPACE</a>