<div class="page">

 
    <div class="Left">
      <div class="logoNew">
          <img src="/images/logoNew.png" alt="nouveau logo">
      </div>
      <div class="titrePage">
        <div class="ellipse">
          <img src="/images/ellipse.png" alt="ellipse">
        </div>   

        <div class="titreMoyen">
            <p>Adhérent(s)</p>
        </div>
      </div>
    
    <div class="adherents">
    <ul>
      {{#each user.adherent}}
        <span>{{this.prenom}}</span> 
        <p>{{this.cours1.nom}} </p> 
        <p>le {{this.cours1.jour}} de {{this.cours1.horaire}}</p> 
        <p>où :{{this.cours1.lieu.nom}} </p>


        <div class="prof">
        <p>avec :{{this.cours1.prof.prenom}} </p>
        <img src={{this.cours1.prof.photo}} alt="photo de la prof">  
      </div>
      {{/each}}
    </ul>
    </div>
  </div>

  <div class="topRight">
    <div id="profilRight">
      <img src="/images/adherents.svg" alt="profil">
    </div>
    <div class="lestrembles">
      <img src="/images/lestrembles.svg" alt="lestrembles">
    </div>
  </div>    
</div>
