<div class="page">

 
    <div class="Left">
      <div class="logoNew">
          <img src="/images/logoNew.png" alt="nouveau logo">
      </div>
      <div class="titrePage">
        <div class="ellipse">
          <img src="/images/ellipse.png" alt="ellipse">
        </div>   

        <div class="titreMoyen">
            <p>Adhérent(s)</p>
        </div>
      </div>
    
    <div class="adherents">
    {{!-- <ul> --}}
      {{#each user.adherent}}
      <div class="adherent">
        <span>{{this.prenom}}</span> 
        <p class="cours"><b>{{this.cours1.nom}}</b> </p> 
        <p> <em>{{this.cours1.jour}} {{this.cours1.horaire}}</em></p> 
        <p><em>{{this.cours1.lieu.nom}} </em></p>


        <div class="prof">
        <p>avec <span>{{this.cours1.prof.prenom}}</span> </p>
        <img src={{this.cours1.prof.photo}} alt="photo de la prof">  
      </div>
      </div>
      {{/each}}

    </div>
  </div>

  <div class="topRight">
    <div id="profilRight">
      <img src="/images/adherents.svg" alt="profil">
    </div>
    <div class="lestrembles">
      <img src="/images/lestrembles.svg" alt="lestrembles">
    </div>
  </div>    
</div>

<div class="retourAdh">
  <a class="bouton" href="/mon-accueil">retour à l'ACCUEIL</a>
</div>