<div class="page">
  <div class="Left">
    <div class="logoNew">
      <img src="/images/logoNew.png" alt="nouveau logo">
    </div>
    <div class="titrePage">
      <div class="ellipse">
        <img src="/images/ellipse.png" alt="ellipse">
      </div>   

      <div class="titreMoyenPetit">
        <p>Modification de vos informations personnelles</p>
      </div>
    </div>
      <div class="editProfilForm">
        <form action="/edit-profil" method="POST">
                
          <label for="email">Adresse mail: </label>
          <div class="rectangleJaune"></div>
          <div class="inputForm2">
            <input type="text" name="email" value="{{user.email}}">  
          </div>
        

          
          <label for="rue">Rue: </label>
          <div class="rectangleJaune"></div>
          <div class="inputForm2">
            <input type="text" name="rue" value="{{user.rue}}">   
          </div>   
      

          <label for="codePostal">Code Postal: </label>
          <div class="rectangleJaune"></div>
          <div class="inputForm2">
            <input type="text" name="codePostal" value="{{user.codePostal}}">  
          </div>  
      
          <label for="ville">Ville: </label>
          <div class="rectangleJaune"></div>
          <div class="inputForm2">
            <input type="text" name="ville" value="{{user.ville}}">
          </div>  
      
        
          <label for="telephone1">Téléphone 1: </label>
          <div class="rectangleJaune"></div>
          <div class="inputForm2">
            <input type="text" name="telephone1" value="{{user.telephone1}}">    
          </div>

        
          <label for="telephone2">Téléphone 2: </label>
          <div class="rectangleJaune"></div>
          <div class="inputForm2">
          <input type="text" name="telephone2" value="{{user.telephone2}}">  
          </div>  
          

          <button>ENREGISTRER</button>

        </form>
      </div>
    </div>
  
    <div class="topRight">
      <div id="connexion">
        <img src="/images/editProfilText.svg" alt="connexion">
      </div>
      <div class="lestrembles">
        <img src="/images/lestrembles.svg" alt="lestrembles">
      </div>
    </div>
        
  </div>

  </div>



