<form action="/facture" method="post">
    <h1>Recevoir par email la facture pour:</h1>
      <ul>
        {{#each user.adherent}}
        <li> 
          <a href="{{this.prenom}}" >Prénom adhérent:{{this.prenom}}/>
        </li> 
        {{/each}}
      </ul>


{{#each user.adherent}}
  <input type="hidden" name="prenom" id="" value="{{prenom}}">
  <input type="hidden" name="nom" id="" value="{{nom}}">

  <form id="{{this.prenom}}" action="/send-email" method="post">
    <p>
        Prénom de l'adhérent: {{this.prenom}}
        <button>Envoyer email</button>
    <p>  
  </form>
{{/each}}
</form>
