

<div class="page">

 
    <div class="Left">
      <div class="logoNew">
          <img src="/images/logoNew.png" alt="nouveau logo">
      </div>
      <div class="titrePage">
        <div class="ellipse">
          <img src="/images/ellipse.png" alt="ellipse">
        </div>   

        <div class="titreMoyen">
            <p>Mon profil</p>
        </div>
      </div>

  <div class="profil">
  
        <div class="infoProfil">
          <h4 class="titreProfil">
            Identifiant: 
          </h4>
          <div class="rectangleProfil">
            <div class="rectangleJauneGrand"></div>
            <div class="rectangleBlancGrand">
                <p>{{user.username}} </p>
            </div>
          </div>

          <h4 class="titreProfil">
            Nom de famille: 
          </h4>
          <div class="rectangleProfil">
            <div class="rectangleJauneGrand"></div>
            <div class="rectangleBlancGrand">
                <p>{{user.nom}}  </p>
            </div>
          </div>

          <h4 class="titreProfil">
            adresse mail : 
          </h4>
          <div class="rectangleProfil">
            <div class="rectangleJauneGrand"></div>
            <div class="rectangleBlancGrand">
                <p class="middleFont">{{user.email}}  </p>
            </div>
          </div>

          <h4 class="titreProfil">
            adresse : 
          </h4>
          <div class="rectangleProfil">
            <div class="rectangleJauneGrandHaut"></div>
            <div class="rectangleBlancGrandHaut">
                <p class="middleFont">{{user.rue}}  </p>
                <p class="middleFont">{{user.codePostal}} {{user.ville}}  </p>
            </div>
    
          </div>

          <h4 class="titreProfil">
            Téléphones : 
          </h4>
          <div class="rectangleProfil">
            <div class="rectangleJauneGrandHaut"></div>
            <div class="rectangleBlancGrandHaut">
                <p class="middleFont">{{user.telephone1}}  </p>
                <p class="middleFont">{{user.telephone2}} </p>
            </div> 
          
          </div>

        </div>


     <div class="boutonsProfil">
      <a class="bouton" href="/adherents">details des adherents</a>
      <a class="bouton" href="/edit-profil">MODIFIER PROFIL</a>
      <a class="bouton" href="/modifPwd">MODIFIER LE MOT DE PASSE</a>
      <a class="bouton" href="/mon-accueil">retour à l'ACCUEIL</a>
    </div> 

    </div>
  

    </div>
 <div class="topRight">
    <div id="profilRight">
      <img src="/images/profilText.svg" alt="profil">
    </div>
    <div class="lestrembles">
      <img src="/images/lestrembles.svg" alt="lestrembles">
    </div>
      
  </div>





</div>
